$colors: (
  neutral: (
    100: 0 0% 100%,
    200: 0 0% 90%,
    300: 0 0% 70%,
    400: 0 0% 60%,
    500: 0 0% 50%,
    600: 0 0% 40%,
    700: 0 0% 30%,
    800: 0 0% 10,
    900: 0 0% 0%,
  ),
  primary: (
    100: 250 50% 100%,
    200: 250 50% 90%,
    300: 250 50% 70%,
    400: 250 50% 60%,
    500: 250 50% 50%,
    600: 250 50% 40%,
    700: 250 50% 30%,
    800: 250 50% 10%,
    900: 250 50% 0%,
  ),

  secondary: (
    100: 150 50% 100%,
    200: 150 50% 90%,
    300: 150 50% 70%,
    400: 150 50% 60%,
    500: 150 50% 50%,
    600: 150 50% 40%,
    700: 150 50% 30%,
    800: 150 50% 10%,
    900: 150 50% 0%,
  ),

  new-color: (
    100: 50 50% 100%,
    200: 50 50% 90%,
    300: 50 50% 70%,
    400: 50 50% 60%,
    500: 50 50% 50%,
    600: 50 50% 40%,
    700: 50 50% 30%,
    800: 50 50% 10%,
    900: 50 50% 0%,
  )
)