// Visual Type Scale Ratio
$base-font-sizes: (
  small: (
    base: 1.125rem,
    ratio: 1.2,
  ),
  medium: (
    base: 1.25rem,
    ratio: 1.25,
  ),
  large: (
    base: 1.5rem,
    ratio: 1.333,
  ),
);
