@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

:root {
  --ff-primary: #{$ff-primary};
  --ff-secondary: #{$ff-secondary};
  --ff-accent: #{$ff-accent};

  --spacer: #{$spacer};

  @each $color, $shade in $colors {
    @each $property, $value in $shade {
      --clr-#{$color}-#{$property}: #{$value};
    }
  }

  @each $screen-size, $fs-base in $base-font-sizes {
    @if $screen-size == small {
      @for $i from -3 through 5 {
        --fs-#{($i+4)*100}: #{math.pow(map.get($fs-base, ratio), $i) * map.get($fs-base, base)};
      }
    } @else {
      @include mq($screen-size) {
        @for $i from -3 through 5 {
          --fs-#{($i+4)*100}: #{math.pow(map.get($fs-base, ratio), $i) * map.get($fs-base, base)};
        }
      }
    }
  }
}
